# MLflow
mlruns/
mlartifacts/

# Model files
*.pkl
*.joblib

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
